<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand links" href="#">Young&Wreckless</a>
    </div>
    <ul class="nav navbar-nav mx-auto">
      <li> <%= link_to 'About', about_path, class: 'links' %></li></li>
      <li><%= link_to 'Contact', contact_path, class: 'links' %></li>
      <li><%= link_to 'My Work', albums_path, class: 'links' %></li>
    </ul>
    
  </div>
</nav>